doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title= "СНИЛС"
        link(href='../css/style.css', rel='stylesheet')
    body
        header.header
            .useful
                .useful__info 
                    .red-text РЕЖИМ РАБОТЫ:&nbsp;
                    .text ЕЖЕДНЕВНО С 10:00 ДО 22:00
                .useful__info 
                    .red-text ТЕЛ:&nbsp;
                    .text +7(499)394-30-29
                .useful__info 
                    .red-text E-MAIL:&nbsp;
                    .text INFO@SNILSA.NET
                .useful__info 
                    .red-text НАШ АДРЕС:&nbsp;
                    .text УЛ. СХОДНЕНСКАЯ, Д. 50
            .snils_su
                img(src="../img/snils_su.png", alt="Лого нашего сайта") 
                .text SNILS
                .red-text .SU
            .block__info 
                .header__info__block <span>ГЛАВНАЯ</span>
                .header__info__block
                    details
                        summary 
                            <span>ВОПРОСЫ И ОТВЕТЫ</span>
                        p ПЕРВЫЙ ВОПРОС
                        p ВТОРОЙ ВОПРОС
                        p ТРЕТЬИЙ ВОПРОС
                .header__info__block <span>ПОРЯДОК РАБОТЫ</span>
                .header__info__block <span>КОНТАКТЫ</span>
                .header__info__block <span>СДЕЛАТЬ ЗАЯВКУ</span>
        .main 
            .snils__definition 
                .whats_this СНИЛС, ЧТО ЭТО ЗА ДОКУМЕНТ И ЗАЧЕМ ОН НУЖЕН?
                p СНИЛС - номер лицевого счёта гражданина Российской Федерации, иcпользуемый в системе пенсионного страхования. Он становится основой для сосредоточения максимально полной информации о рабочем стаже человека и уровне страховых отчислений (взносов), производимых на его имя. Таким образом, вопрос, нужен ли СНИЛС, даже не стоит. 
                .snils_uses 
                    img(src="../img/snils__appearance.png", alt="Как выглядит СНИЛС - зеленая карточка с личными данными")
                    ul Внешне СНИЛС представляет собой зелёную карту - страховое свидетельство государственного пенсионнового страхования. Указанный документ необходим для решения таких задач:
                        li Перевод средств работнику в счёт будущей пенсии;
                        li Регистрация лица на портале госуслуг;
                        li Обмен информацией о том или ином гражданине между разными инстанциями и структурами;
                        li Получение всех видов социальной пособий (государственной помощи)
                p.red_text ТЕПЕРЬ ВЫ ПОНИМАЕТЕ, КАКОЙ СНИЛС ВАЖНЫЙ ДОКУМЕНТ, И НАВЕРНЯКА ЗАЙМЕТЕСЬ ВОПРОСОМ ЕГО ОФОРМЛЕНИЯ.
            .snils__how-to
                .process_depends ТЕПЕРЬ ВЫ ПОНИМАЕТЕ, КАКОЙ СНИЛС ВАЖНЫЙ ДОКУМЕНТ, И НАВЕРНЯКА ЗАЙМЕТЕСЬ ВОПРОСОМ ЕГО ОФОРМЛЕНИЯ. ПРОЦЕСС ОФОРМЛЕНИЯ ДОКУМЕНТА ЗАВИСИТ ОТ ТОГО, ТРУДОУСТРОЕНЫ ЛИ ВЫ ИЛИ НЕ РАБОТАЕТЕ НА ОФИЦИАЛЬНЫХ ОСНОВАНИЯХ.
                .how_where КАК И ГДЕ СДЕЛАТЬ СНИЛС
                .two-ways
                    .working 
                        img(src="../img/working_icon.png", alt="")
                        p ОФИЦИАЛЬНО ТРУДОУСТРОЕНЫ
                        .working-way Вам не придётся заботиться об этом процессе. Сделать СНИЛС через 2 недели после приёма на работу обязан ваш руководитель (требуется заполнение анкеты АДВ-1 и паспорт)
                    .working#second 
                        img(src="../img/not-working_icon.png", alt="")
                        p НЕ РАБОТАЕТЕ НА ОФИЦИАЛЬНЫХ ОСНОВАНИЯХ
                        .working-way Если же вы не работаете, то должны сами обратиться в отделение Пенсионного фонда по месту регистрации. Перечень документов минимален и включает в себя: <br> 1) анкету застрахованного лица, которая составляется по форме АДВ-1; <br> 2) Паспорт
            .snils__questions
                .ask_managers ЕСЛИ У ВАС ЕСТЬ ВОПРОСЫ, ЗАДАЙТЕ ИХ НАШИМ МЕНЕДЖЕРАМ
                .questions__form 
                    p ЗАДАТЬ ВОПРОС <br> МЕНЕДЖЕРУ
                    input(
                        type="text"
                        placeholder="Ваше имя*"
                        )
                    input(
                        type="text"
                        placeholder="Телефон*"
                        )
                    textarea.question(
                        placeholder="Ваш вопрос"
                        )
                    button.one Отправить запрос
                    button.two
                    button.three
            .snils__info 
                img(src="../img/snils__main.png", alt="")
                p Отдельная ситуация - утеря СНИЛС или смена фамилии. Reprehenderit, incidunt at quo consectetur ipsam alias fugit quisquam! Deleniti consectetur nam sequi id necessitatibus vero nostrum ipsa esse. Officiis, dolor debitis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi consectetur rem saepe illum mollitia doloremque hic, necessitatibus totam quibusdam ut deserunt corrupti nostrum repudiandae illo dignissimos ipsum excepturi, laborum eligendi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, cum repellendus accusamus dolor perspiciatis fugiat molestiae, animi sit incidunt reiciendis deserunt in illo vero illum culpa asperiores id ad corrupti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit numquam perferendis atque, eius aliquam ipsum iusto, facere modi esse totam eligendi velit facilis minus vitae saepe dolores fugit quisquam ratione! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ullam saepe itaque cumque expedita provident facere reiciendis hic! Dolore eligendi sapiente porro omnis, magnam reiciendis fuga commodi. Eius, officia quisquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dignissimos odit aperiam! Quis, dignissimos reprehenderit! Incidunt enim, dolorum perferendis officia alias distinctio quaerat laborum ducimus consequuntur quo dignissimos fuga. Dignissimos?
        footer.footer 
            .block__info 
                .header__info__block <span>ГЛАВНАЯ</span>
                .header__info__block <span>ВОПРОСЫ И ОТВЕТЫ</span>
                .header__info__block <span>ПОРЯДОК РАБОТЫ</span>
                .header__info__block <span>КОНТАКТЫ</span>
                .header__info__block <span>СДЕЛАТЬ ЗАЯВКУ</span>
            .two_sections 
                .ask_questions <span>У ВАС ПОЯВИЛИСЬ ВОПРОСЫ? ОСТАВЬТЕ ЗАЯВКУ <br> И МЫ ОТВЕТИМ ВАМ В ТЕЧЕНИЕ 30 МИНУТ</span>
                    .footer_inputs 
                        .column_inputs
                            input(
                                type="text"
                                placeholder="Имя"
                            )
                            input(
                                type="text"
                                placeholder="Телефон"
                            )
                            input(
                                type="text"
                                placeholder="Ваша почта"
                            )
                        textarea.textarea(
                                type="text"
                                placeholder="Задайте свой вопрос"
                            )
                    button ОТПРАВИТЬ ЗАЯВКУ
                .snils_su
                    .logo 
                        img(src="../img/snils_su.png", alt="Лого нашего сайта") 
                        .text SNILS
                        .red-text .SU
                    .phones 
                        p +7 (499) 394-30-29
                        p +7 (925) 459-95-63
            .faq
                <span> РЕЖИМ РАБОТЫ: ЕЖЕДНЕВНО С 10:00 ДО 22:00 </span>
                <span> E-MAIL: INFO@SNILSA.NET </span>
                <span> НАШ АДРЕС: УЛ. СХОДНЕНСКАЯ, Д. 50 </span>
                    
            